.blog-container {
    width: 1170px;
    max-width: 90%;
    margin: 95px auto;
}

.blog-main-heading {
    margin-bottom: 95px;
}

.blogs-1-container {
    display: flex;
    gap: 50px;
}

.main-blogs-container {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.main-blog-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main-blog-img, .normal-blog-img {
    width: 100%;
    border-top-left-radius: 25px;
}

.blog-details {
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    background-color: #042C54;
    position: relative;
    top: -5px;
    flex-grow: 1;
}

.blog-date {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 11.649px;
    line-height: 35px;
    color: #FFFFFF;
}

.blog-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 19.3154px;
    line-height: 30px;
    color: #FFFFFF;
    flex-grow: 1;
}

.blog-link {
    text-decoration: none;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 11.649px;
    line-height: 35px;
    color: #FFFFFF;
}

.normal-blogs-1-container {
    width: calc(70% - 50px);
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.normal-blog-container {
    width: calc(50% - 25px);
    height: 380px;
    display: flex;
    flex-direction: column;
}

.blogs-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.normal-blogs-2-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    list-style-type: none;
    padding: 0;
}

.normal-blogs-container {
    display: flex;
    flex-direction: column;
    width: calc((100% / 3) - (50px / 3 * 2));
}

.normal-blog-2-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@media screen and (max-width: 992px) {
    .blog-container {
        margin: 55px auto;
    }
    .blog-main-heading {
        margin-bottom: 55px;
    }
    .blogs-container {
        gap: 25px;
    }
    .blogs-1-container {
        gap: 25px;
    }
    .main-blogs-container {
        width: calc(50% - 12.5px);
    }
    .normal-blogs-1-container {
        width: calc(50% - 12.5px);
        gap: 25px;
    }
    .normal-blog-container {
        width: 100%;
    }
    .normal-blogs-2-container {
        gap: 25px;
    }
    .normal-blogs-container {
        width: calc(50% - 12.5px);
    }
}

@media screen and (max-width: 568px) {
    .blogs-1-container {
        flex-direction: column;
    }
    .main-blogs-container {
        width: 100%;
        height: 380px;
    }
    .normal-blogs-1-container {
        width: 100%;
    }
    .main-blog-img, .normal-blog-img{
        height: 180px;
    }
    .normal-blogs-container {
        width: 100%;
    }
}